{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "#helpers": "./src/js/helpers",
                    "#app": "./src/js/app",
                    "vue": "./node_modules/vue/dist/vue.common.js",
                    "#test": [ "./test" ],
                    "test-map": "./dist_test/map.js"
                }
            }
        ]
    ]
}