{
    "extends": "airbnb-base",
    "overrides": [
        {
            "files": ["**/*.spec.js"],
            "env": {
                "mocha": true
            },
            "rules": {
                "no-unused-expressions": "off"
            }
        }
    ],
    "rules": {
        "indent": [ "error", 4 ],
        "import/no-extraneous-dependencies": false,
        "prefer-promise-reject-errors": 0,
        "import/no-unresolved": [
            "error",
            { "ignore": ["#"] }
        ],
        "max-len": "off",
        "no-param-reassign": "warn"
    },
    "env": {
        "browser": true
    }
}