<section>
    <Autocomplete :placeholder="placeholder" :autofocus="autofocus" :autocompleter="addressAutocomplete" v-model="address" v-if="showAddress"></Autocomplete>
    <div id="map"></div>
</section>